{% extends "base.html" %}

{% block title %}
    Python Project | Homepage
{% endblock %}

{% block content %}
    <section id="home">
    <div class="container f">
        <div class="center box">
            <!-- <img src="{{ url_for('static', filename='img/ku-logo.png') }}"> -->
            <h1>STUDENT PORTAL</h1>
            <h3>ISST THIRD YEAR STUDENTS</h3>
            <p>This student portal is specially made for ISST third year evening students, as a project of SST-503 course by a group. In this application, students can get themselves registered, and it will allow them to do thier activities during the semester. So, if you haven't get yourself registered, click the link below!</p>
            <a href="{{ url_for('loginpage') }}" class="btn btn-outline btn-primary">GET STARTED</a>
        </div>
    </div>
</section>
{% endblock %}